<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>
    <ion-title>Today's Deals</ion-title>
    <ion-buttons end style=" margin-right: 15px; ">
      <button ion-button icon-only (click)="openSearch();">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openCart();">
        <ion-icon *ngIf="cartnum == 0" name="ios-cart-outline"></ion-icon><ion-icon *ngIf="cartnum > 0" name="ios-cart-outline" color="blueblack"></ion-icon><ion-badge *ngIf="cartnum > 0" item-end color="red" round>{{ cartnum }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style=" background-color: #f1f1f1; ">
  <img src="https://app.arenagh.org/assets/img/deals.jpg" style="width:100%;" />
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of plist" (click)="thisProduct(item.product_id)" >
        <div style="box-shadow: 0px 1px 6px 1px rgba(115, 115, 115, 0.08);padding: 0;border: 1px solid #ececec;border-radius: 5px;background: #fff;">
          <img src="https://app.arenagh.org/uploads/product_image/product_{{ item.product_id }}_1_thumb.jpg" style=" border-top-left-radius: 5px; border-top-right-radius: 5px; " />
          <p style="margin: 0px 0px 5px;font-weight: 400;padding: 7px 8px 4px;">
            {{ item.title }}
          </p>
          <p style="position:absolute;top:10px;right:15px;font-size:12px;font-weight:bold;color: #fff;background:#000;border-radius:30px;padding:5px 10px;">
            {{ item.sale_price }}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
